# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml

# Firebase secrets/config
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
